// sección inferior
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-shrink: 100%;
  position: relative;
  
  width: 100%;
 

  &__left {
   
    position: relative;
    width: 70%;
    min-width: 300px;
  }

  &__bock-blue {
    position: absolute;
    width: 53%;
    height: 85%;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: $primary-blue;
  }
  &__block {
    width: 50%;
    padding: 4%;
  }

  &__right {
   
    width: 30%;
    
    position: relative;
  }

  &__title {
    font-size: $fs-xl;
  }
  &__text {
    font-size: $fs-md;
    width: 80%;
  }

  &__img {
    width: 100%;

    &--person {
      height: 100%;
      object-fit: cover;
    }

    &--map {
      height: 77%;
      object-fit: cover;
      position: absolute;
      width: 45%;
      top: 10%;
      right: 10%;
    }
    &--coffee {
      height: 280px;
      object-fit: cover;
    }
    &--grano {
      width: 25%;
      height: 58%;
      object-fit: cover;
      position: absolute;
      left: -13%;
    }
  }

  &__block-yelow {
    background-color: $primary-yellow;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 138px;
    height: 138px;
    @media screen and (max-width: 968px) {
      width: 120px;
    height: 120px;
     }
  }
  &__block-orange {
    background-color: $primary-orange;
    bottom: 5%;
    left: -4%;
    position: absolute;
    width: 138px;
    height: 138px;
    z-index: 1;
    @media screen and (max-width: 968px) {
      width: 120px;
    height: 120px;
     }
  }
  &__icon {
    display: flex;
    
    z-index: 10;
    font-size: 50px;
    color: $primary-white;
    position: absolute;
    bottom: 32%;
    left: 32%;
  }
}

.data {
  bottom: 0;
  right: 0;
  background-color: $primary-white;
  position: absolute;
  width: 53%;
  height: 30%;
  padding:2px 10px;
  z-index: 1;
  display: flex;
  gap: 3px;
  align-items:center;
 justify-content: space-around;

 @media screen and (max-width: 968px) {
  width: 80%;
  height: 40%;
 }
 

 &__group {
  

 width:100px;

  align-items:flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &--2{
    width:200px;
  }

}

  &__num {

    
    font-size: $fs-xxl;
    font-family: $pt-mono;
    position: relative;
  
    text-align: left;
 
  }
  &__txt{
    font-size: $fs-md;
    font-family: $roboto;
    height: 30px;

  

   
  }

  
}


